/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
* {
  background-color: rgba(253, 255, 237, 0);
  margin: 0px;
  padding: 0px;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  /* Нужно для мобильного WebKit */
  -moz-box-sizing: border-box;
  /* Нужно для Firefox */
  box-sizing: border-box;
}
html {
  height: 100%;
}
header,
section,
footer,
aside,
nav,
article,
figure,
figcaption {
  display: block;
}
body {
  text-align: center;
  width: 100%;
  height: 1000%;
}
div#wrapper {
  max-width: 960px;
  margin: 0px auto;
  text-align: left;
  height: 100%;
}
header#main_header {
  background-color: #0b7978;
  padding: 0px;
  height: 100px;
  width: 960px;
  position: fixed;
}
section#logo {
  float: left;
  width: 236px;
  padding: 6px 12px 6px 6px;
  position: relative;
  top: 6px;
  left: 6px;
  border-top: solid 1px #3fe7e8;
  border-left: solid 1px #3fe7e8;
  border-right: solid 1px #228b22;
  border-bottom: solid 1px #0b360b;
}
section#logo img {
  float: left;
  border-top: solid 1px black;
  border-left: solid 1px #228b22;
  border-right: solid 1px #3fe7e8;
  border-bottom: solid 1px #3fe7e8;
}
section#logo figcaption {
  text-align: left;
  font-size: 12px;
  font-variant: small-caps;
  line-height: 1.5;
  float: left;
  margin-top: 12px;
  margin-left: 6px;
  color: #F5F5F5;
  font-family: 'Roboto', sans-serif;
}
nav#top_nav {
  padding: 5px 15px;
  float: left;
}
nav#top_nav ul {
  position: fixed;
  top: 66px;
}
nav#top_nav ul li {
  display: inline-block;
  list-style: none;
  padding: 5px;
  font: bold 14px verdana, sans-serif;
  background-color: #0cbab9;
}
nav#top_nav ul li a {
  text-decoration: none;
  text-align: center;
  color: #fffffe;
}
nav#top_nav ul li a:hover {
  color: #fff900;
}
nav#top_nav ul li ul {
  display: none;
}
nav#top_nav ul li:hover {
  background-color: #0b1a4e;
}
nav#top_nav ul li:hover ul {
  display: block;
  position: fixed;
  top: 92px;
}
nav#top_nav ul li:hover ul li {
  display: block;
}
section#search {
  float: right;
  height: 160px;
  padding-top: 6px;
  padding-right: 12px;
}
section#search form {
  margin: 0;
  padding: 0;
}
section#search form input {
  background-color: rgba(14, 255, 254, 0.45);
}
section#search form button {
  background-color: #fffb99;
  color: #228b22;
  background: #111111;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ff910d), color-stop(1, #ffff1e));
  background: -ms-linear-gradient(bottom, #ff910d, #ffff1e);
  background: -moz-linear-gradient(center bottom, #ff910d 0%, #ffff1e 100%);
  background: -o-linear-gradient(#ffff1e, #ff910d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff1e', endColorstr='#ff910d', GradientType=0);
  padding: 0 4px 0 4px;
}
section#search form button:hover {
  background-color: #f58222;
  color: #fffffe;
}
div#content_wrap {
  clear: both;
  height: 100%;
  padding-top: 100px;
  overflow: no-display;
}
aside#left_as {
  float: left;
  width: 240px;
  height: 100%;
  padding: 20px 10px 12px;
  background-color: #bad9d1;
  overflow: no-display;
}
aside#left_as h3 {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  text-transform: uppercase;
  line-height: 36px;
  letter-spacing: 2px;
  color: #006666;
  font-size: 24px;
  padding-left: 20px;
  border-left: 4px solid #009999;
}
aside#left_as ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
aside#left_as ul li {
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  line-height: 26px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #666666;
  font-size: 16px;
}
aside#left_as ul li:before {
  content: '-';
  margin-right: 15px;
}
aside#left_as ul a {
  text-decoration: none;
  color: black;
  outline: 0;
  display: inline-block;
  -webkit-transition: .4s linear;
  -moz-transition: .4s linear;
  -o-transition: .4s linear;
  transition: .4s linear;
}
aside#left_as ul a:hover {
  color: #009933;
}
article.left_art {
  font-family: Arial;
  padding-top: 0px;
  padding-bottom: 12px;
}
article.left_art h2 {
  font-size: 20px;
  color: #006666;
  padding-top: 12px;
  padding-bottom: 6px;
}
article.left_art p {
  font-size: 14px;
  text-align: justify;
}
section#content {
  float: left;
  overflow: no-display;
}
article.content {
  font-family: Arial;
  padding: 0px 24px 12px;
}
article.content h1 {
  font-size: 24px;
  color: #999999;
  padding-top: 12px;
  padding-bottom: 6px;
}
article.content p {
  font-size: 14px;
  text-align: justify;
  color: #666666;
}
div#right_as {
  float: right;
  width: 220px;
  height: 100%;
  padding: 0px 10px 12px;
  background-color: #ffffcc;
  overflow: no-display;
}
article.right_art {
  font-family: Arial;
  padding-top: 0px;
  padding-bottom: 12px;
}
article.right_art h2 {
  font-size: 20px;
  color: #664d10;
  padding-top: 12px;
  padding-bottom: 6px;
}
article.right_art p {
  font-size: 14px;
  text-align: justify;
}
footer#main_footer {
  clear: both;
  background-color: #414141;
  color: lightgray;
  min-height: 50px;
  position: fixed;
  bottom: 0;
  width: 960px;
}
footer#main_footer nav#bottom_left {
  float: left;
  width: 35%;
  background-color: inherit;
  color: inherit;
  margin-left: 0px;
  margin-top: 0px;
  position: absolute;
  left: 28px;
  top: 14px;
}
footer#main_footer nav#bottom_left ul {
  list-style-type: none;
  text-align: left;
}
footer#main_footer nav#bottom_left ul li {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  display: inline-block;
  background-color: #999999;
  color: black;
}
footer#main_footer nav#bottom_left ul li a {
  margin: 0px 0px 0px 0;
  padding: 6px 12px 6px 12px;
  text-decoration: none;
  color: #333333;
  display: block;
}
footer#main_footer nav#bottom_left ul li a:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #FFB55F;
  display: block;
}
footer#main_footer nav#bottom_mid {
  float: left;
  width: 35%;
  height: 100%;
  background-color: inherit;
  color: inherit;
  margin-left: 0px;
  margin-top: 0px;
  position: absolute;
  left: 260px;
  top: 15px;
}
footer#main_footer nav#bottom_mid ul {
  list-style-type: none;
  text-align: left;
}
footer#main_footer nav#bottom_mid ul li {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
footer#main_footer nav#bottom_mid ul a {
  margin: 0px 0px 0px 0;
  padding: 2px 12px 2px 12px;
  border-left: solid #a8a451 6px;
  text-decoration: none;
  font-weight: bold;
  color: #a8a451;
  display: block;
}
footer#main_footer nav#bottom_mid ul a:hover {
  border-left: solid #fff900 6px;
  color: #fffb99;
  background-color: #664d10;
}
footer#main_footer section.copyright {
  float: right;
  background-color: inherit;
  color: inherit;
  position: absolute;
  top: 16px;
  right: 16px;
}
footer#main_footer section.copyright p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=2.css.map */