html {
  background: #FFB55F;
  height: 100%;
}
body {
  background: #ffffff;
  color: #333;
  padding: 0px;
  margin: 0px;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}
#allPage {
  background: lightblue;
  color: inherit;
  width: 50%;
  height: 900px;
  margin: 0px auto;
}
