/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  background-color: rgba(185, 245, 0, 0.08);
}
h1 {
  text-align: center;
  color: #0b1a4e;
  font-family: "Panic Sans", "Bitstream Vera Sans Mono", Monaco, Consolas, "Andale Mono", monospace;
  font-size: 48px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
h3 {
  text-align: center;
  color: #143091;
  font-family: "Panic Sans", "Bitstream Vera Sans Mono", Monaco, Consolas, "Andale Mono", monospace;
  font-size: 24px;
}
p {
  font-family: "Panic Sans", "Bitstream Vera Sans Mono", Monaco, Consolas, "Andale Mono", monospace;
  color: #0e4c0c;
  font-size: 24px;
  -moz-column-width: 250px;
  -moz-column-count: 2;
  -moz-column-gap: 50px;
  -moz-column-rule-color: #EEE;
  -moz-column-rule-style: solid;
  -moz-column-rule-width: 1px;
  -webkit-column-width: 250px;
  -webkit-column-count: 2;
  -webkit-column-gap: 50px;
  -webkit-column-rule-color: #EEE;
  -webkit-column-rule-style: solid;
  -webkit-column-rule-width: 1px;
  column-width: 250px;
  column-count: 2;
  column-gap: 50px;
  column-rule-color: #EEE;
  column-rule-style: solid;
  column-rule-width: 1px;
}
nav {
  text-align: center;
}
nav ul li {
  display: inline-block;
  font-family: "Panic Sans", "Bitstream Vera Sans Mono", Monaco, Consolas, "Andale Mono", monospace;
}
/*# sourceMappingURL=main.css.map */