@import "elements.less";

@bcolor: rgba(253, 255, 237, 0);
@border_color: #ff6666;
@left_as_color: #bad9d1;
@right_as_color: #ffffcc;
@footer_bcolor: #414141;
@footer_tcolor: lightgray;
@top_nav_top: 66px;
@top_nav_left: 0px;


* {
  background-color: @bcolor;
  margin: 0px;
  padding: 0px;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box; /* Нужно для мобильного WebKit */
  -moz-box-sizing: border-box; /* Нужно для Firefox */
  box-sizing: border-box;
}

html {
    height: 100%;
}

header, section, footer, aside, nav, article, figure, figcaption {
  display: block;
}
body {
  text-align: center;
  width: 100%;
  height: 1000%;
}

div#wrapper {
  max-width: 960px;
  margin: 0px auto;
  text-align: left;
  height: 100%;
}

header#main_header {
  background-color: #0b7978;
  padding: 0px;
  height: 100px;
  width: 960px;
  position: fixed;
}

section#logo {
  float: left;
  width: 236px;
  padding: 6px 12px 6px 6px;
  position: relative;
  top: 6px;
  left: 6px;
  img {
    float: left;
    .bordered(black, #3fe7e8, #3fe7e8, #228b22)
  }
  figcaption {
    text-align: left;
    font-size: 12px;
    font-variant: small-caps;
    line-height: 1.5;
    float: left;
    margin-top: 12px;
    margin-left: 6px;
    color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
  }
  .bordered(#3fe7e8, #228b22, #0b360b, #3fe7e8);
}

nav#top_nav {
  padding: 5px 15px;
  float: left;
  ul {
    position: fixed;
    top: @top_nav_top;
    li {
      display: inline-block;
      list-style: none;
      padding: 5px;
      font: bold 14px verdana, sans-serif;
      background-color: #0cbab9;
      a {
        text-decoration: none;
        text-align: center;
        color: #fffffe;
      }
      a:hover {
        color: #fff900;
      }
      ul {
        display: none;
      }
    }
    li:hover {
      background-color: #0b1a4e;
      ul {
        display: block;
        position: fixed;
        top: @top_nav_top + 26px;
        li {
          display: block;
        }
      }
    }
  }
}

section#search {
  float: right;
  height: 160px;
  padding-top: 6px;
  padding-right: 12px;
  form {
    margin: 0;
    padding: 0;
  }
  form input {
    background-color: rgba(14, 255, 254, 0.45)
  }
  form button {
    background-color: #fffb99;
    color: #228b22;
    .gradient(#111111, #ff910d, #ffff1e);
    padding: 0 4px 0 4px;
  }
  form button:hover {
    background-color: #f58222;
    color: #fffffe;
  }
}

div#content_wrap {
  clear: both;
  height: 100%;
  padding-top: 100px;
  overflow: no-display;
}

aside#left_as {
  float: left;
  width: 240px;
  height: 100%;
  padding: 20px 10px 12px;
  background-color: @left_as_color;
  overflow: no-display;
  h3 {
      font-family: 'Roboto', sans-serif;
      text-align: left;
      text-transform: uppercase;
      line-height: 36px;
      letter-spacing: 2px;
      color: #006666;
      font-size: 24px;
      padding-left: 20px;
      border-left: 4px solid #009999;
  }
  ul {
//     list-style-image: linear-gradient(#00cc00 0, #00ff33 50%, #ccffcc 50%);
//     list-style-position: inside;
     margin: 0;
     padding: 0;
     list-style: none;
     li {
        margin-bottom: 10px;
        font-family: 'Roboto', sans-serif;
        line-height: 26px;
        letter-spacing: 1px;
        font-weight: 300;
        color: #666666;
        font-size: 16px;
     }
     li:before {
        content: '-';
        margin-right: 15px;
     }
     a {
        text-decoration: none;
        color: black;
        outline: 0;
        display: inline-block;
        -webkit-transition: .4s linear;
        -moz-transition: .4s linear;
        -o-transition: .4s linear;
        transition: .4s linear;
}
     a:hover {
         color: #009933;
     }
  }
}

nav.left_nav {

}

article.left_art {
    font-family: Arial;
    padding-top: 0px;
    padding-bottom: 12px;
    h2 {
        font-size: 20px;
        color: #006666;
        padding-top: 12px;
        padding-bottom: 6px;
    }
    p {
        font-size: 14px;
        text-align: justify;
    }
}

section#content {
  float: left;
  overflow: no-display;
}

article.content {
    font-family: Arial;
  padding: 0px 24px 12px;
  h1 {
        font-size: 24px;
        color: #999999;
        padding-top: 12px;
        padding-bottom: 6px;
    }
    p {
        font-size: 14px;
        text-align: justify;
        color: #666666;
    }
}

div#right_as {
  float: right;
  width: 220px;
  height: 100%;
  padding: 0px 10px 12px;
  background-color: @right_as_color;
  overflow: no-display;
}

article.right_art {
  font-family: Arial;
  padding-top: 0px;
  padding-bottom: 12px;
  h2 {
    font-size: 20px;
    color: #664d10;
    padding-top: 12px;
    padding-bottom: 6px;
  }
  p {
    font-size: 14px;
    text-align: justify;
  }
}

footer#main_footer {
  clear: both;
  background-color: @footer_bcolor;
  color: @footer_tcolor;
  min-height: 50px;
  position: fixed;
  bottom: 0;
  width: 960px;
  nav#bottom_left {
    float: left;
    width: 35%;
    background-color: inherit;
    color: inherit;
    margin-left: 0px;
    margin-top: 0px;
    position: absolute;
    left: 28px;
    top: 14px;
    ul {
      list-style-type: none;
      text-align: left;
      li {
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        display: inline-block;
        background-color: #999999;
        color: black;
        a {
          margin: 0px 0px 0px 0;
          padding: 6px 12px 6px 12px;
          text-decoration: none;
          color: #333333;
          display: block;
        }
        a:hover {
          text-decoration: none;
          color: #ffffff;
          background-color: #FFB55F;
          display: block;
        }
      }
    }
  }
  nav#bottom_mid {
    float: left;
    width: 35%;
    height: 100%;
    background-color: inherit;
    color: inherit;
    margin-left: 0px;
    margin-top: 0px;
    position: absolute;
    left: 260px;
    top: 15px;
    ul {
      list-style-type: none;
      text-align: left;
      li {
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
      }
      a {
        margin: 0px 0px 0px 0;
        padding: 2px 12px 2px 12px;
        border-left: solid #a8a451 6px;
        text-decoration: none;
        font-weight: bold;
        color: #a8a451;
        display: block;
      }
      a:hover {
        border-left: solid #fff900 6px;
        color: #fffb99;
        background-color: #664d10;
      }
    }
  }
  section.copyright {
    float: right;
    background-color: inherit;
    color: inherit;
    position: absolute;
    top: 16px;
    right: 16px;
    p {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      padding: 0;
      margin: 0;
    }
  }
}



