@border_color: #ff6666;

.border {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: @border_color;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: @border_color;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: @border_color;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: @border_color;
}


html {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  height: 100%;
}

body {
  background-color: #ffffff;
  width: 960px;
  margin: 0px auto;
  height: inherit;
}

#main-wrap {
  height: inherit;
  width: inherit;
  background-color: rgba(255, 255, 255, 0.17);
}
#header {
  height: 120px;
  width: inherit;
  background-color: #006666;
  position: fixed;
  top: 0px;
}
#content-wrap {
  padding-top: 120px;
  clear: both;
  height: inherit;
}
#col1 {
  background-color: cadetblue;
  width: 200px;
  float: left;
  padding-bottom: 80px;
}
#col2 {
  background-color: #ffffff;
  width: 560px;
  float: left;
  padding-bottom: 80px;
}
#col3 {
  background-color: rgba(255, 255, 255, 0.32);
  width: 200px;
  float: right;
  padding-bottom: 80px;
}
#footer {
  background-color: #414141;
  color: rgba(255, 255, 237, 0.94);
  height: 80px;
  width: inherit;
  clear: both;
  position: fixed;
  bottom: 0px;
}