@import "elements.less";

@head_color: #0b1a4e;
@text_color: #0e4c0c;
body {
    background-color: rgba(185, 245, 0, 0.08);
}

h1 {
    text-align: center;
    color: @head_color;
    font-family: "Panic Sans", "Bitstream Vera Sans Mono", Monaco, Consolas, "Andale Mono", monospace;
    font-size: 48px;
    .drop-shadow(0, 2px, 4px, 0.4);
}
h3 {
    text-align: center;
    color: lighten(@head_color, 15%);
    font-family: "Panic Sans", "Bitstream Vera Sans Mono", Monaco, Consolas, "Andale Mono", monospace;
    font-size: 24px;
}

p {
    font-family: "Panic Sans", "Bitstream Vera Sans Mono", Monaco, Consolas, "Andale Mono", monospace;
    color: @text_color;
    font-size: 24px;
    .columns(250px, 2, 50px, #EEE, solid, 1px);
}
nav {
    text-align: center;
    ul li {
    display: inline-block;
    font-family: "Panic Sans", "Bitstream Vera Sans Mono", Monaco, Consolas, "Andale Mono", monospace;
    }
}